@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
	--primaryColor: #fff;
	--secondaryColor: #e2e2e2;
	--textColor: #303030;
	--transitionTime: 0.3s;
	--h1FontSize: 36px;
	--sectionTextElementSize: 70%;
	--sectionTextPadding: 20px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--secondaryColor);
	font-family: "Poppins", serif;
	font-weight: 400;
	font-style: normal;
}

header {
	width: 100%;
	height: 70px;
	position: fixed;
	background-color: var(--primaryColor);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

a {
	text-decoration: none;
}

.btn-primary {
	cursor: pointer;
	padding: 10px 35px;
	border-radius: 30px;
	border: none;
	font-family: "Poppins", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	transition: var(--transitionTime);
}

.btn-primary:hover {
	transform: scale(1.1);
	transition: var(--transitionTime);
}

header h1 a {
	color: var(--textColor);
}

header ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

header ul li {
	padding-left: 35px;
}

header ul li a {
	color: var(--textColor);
	padding: 2px 0;
	border-bottom: 2px solid transparent;
	transition: var(--transitionTime);
}

header ul li a:hover {
	border-bottom: 2px solid var(--textColor);
}

#banner {
	padding-top: 70px;
	width: 100%;
	height: 100vh;
	background-image: url(img/background.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--primaryColor);
}

#banner h1 {
	font-size: var(--h1FontSize);
}

#banner p {
	width: var(--sectionTextElementSize);
	padding: var(--sectionTextPadding) 0;
}

#banner-subsection {
	width: 100%;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#banner-subsection h1 {
	font-size: var(--h1FontSize);
}

#banner-subsection p {
	width: var(--sectionTextElementSize);
}